@{
    ViewData["TITLE"] = "References";
}

<div class="text-center">
    <h1 class="display-4">References</h1><br />
    <p>
        Below are links to view to online and printed reference materials:
    </p><br />
    <a asp-controller="REFERENCES" asp-action="ONLINE">Online Materials</a><br />
    <a asp-controller="REFERENCES" asp-action="PRINTED">Printed Materials</a>
</div>
