@{
    ViewData["TITLE"] = "Tips";
}

<div class="text-center">
    <h1 class="display-4">Tips</h1><br />
    <p>
        Coming Soon!!
    </p><br />
    <a asp-controller="TIPS" asp-action="LIGHTING">Finding Good Lighting</a><br />
    <a asp-controller="TIPS" asp-action="BESTLENSES">Lenses For Landscape Photography</a>
</div>
