@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Landscape Photography Tips</h1>
    <p>Landscape photography is the art of capturing pictures of nature 
    and the outdoors in a way that brings your viewer into the scene. 
    From grand landscapes to intimate details, the best photos demonstrate 
    the photographer’s own connection to nature and capture the essence of the world around them.</p>
</div>
