@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Landscape Photography</h1><br />
    <p>
        Landscape photography is the art of capturing pictures of nature
        and the outdoors in a way that brings your viewer into the scene.
        From grand landscapes to intimate details, the best photos demonstrate
        the photographer’s own connection to nature and capture the essence of the world around them.
    </p><br />
    <a asp-controller="HOME" asp-action="FORUMPOST">Forum</a><br />
    <a asp-controller="HOME" asp-action="OVERVIEW">Overview</a>
</div>
