@{
    ViewData["TITLE"] = "Overview Page";
}

<div class="text-center">
    <h1 class="display-4">Overview</h1><br />
        <p>
            Photography in general is the art, application and practice of creating durable
            images by capturing light, either electronically by means of an image sensor,
            or chemically by means of a light-sensitive material such as photographic film.
            The genre of Landscape photography shows spaces within the world, sometimes vast
            and unending, but other times microscopic. Landscape photography is capturing an 
            image that embodies the spirit of the outdoors. It carries a sense of being there 
            to see something incredible.
        </p>
</div>
